<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MENU HOSPITALES</h1>
    <li>
        <a href="/departamentos">01.Departamentos</a>
    </li>
    <li>
        <a href="/insertdpt">02.Insertar departamento</a>
    </li>
        <li>
        <a href="/updatedept">03.Actualizar departamento (en obras)</a>
    </li>
    </li>
    <li>
        <a href="/buscarform">04.Buscar departamento</a>
    </li>
    <li>
        <a href="/buscarget">05.Buscar departamento Get</a>
    </li>
</body>
</html>