<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Menu Formularios</h1>  <!-- texto -->   
        <li>  <!-- lista desordenada -->
            <a href="/ejemplo">Ir a ejemplo</a> <!-- link enlazando con ejemplo.html -->
        </li>
        <li>
            <a href="/saludo">Ir a saludo</a>
        </li>
        <li>
            <a href="/sumarnumeros">Ir a sumarnumeros</a>
        </li>
        <li>
            <a href="/parimpar">Ir a parimpar</a>
        </li>
        <li>
            <a href="/collatz">Ir a collatz</a>
        </li>
        <li>
            <a href="/tabla">Ir a tabla</a>
        </li>
        <li>
            <a href="/tablav2">Ir a tabla</a>
        </li>
        <li>
            <a href="/deportes">Ir a deportes</a>
        </li>
        <li>
            <a href="/colores">Ir a colores</a>
        </li>
       <li>
            <a href="/coloresv2">Ir a coloresv2</a>
        </li>
        <li>
            <a href="/comics">Ir a comics</a>
        </li>
    </ul>
</body>
</html>