<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'paginas/menu.html' %}
    <h3>VERSION 1</h3>
    <form method="post">
        {% csrf_token %}
        Numero: <input type="number" name="cajanumero">
        <button>Enviar</button>
    </form>
    <TABLE border="1">
        <thead>
            <tr>
                <th>RESULTADO</th>
            </tr>
        </thead>
        <tbody>
            {% for num in listanumeros %}
            <tr>
                <td>{{ num }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </TABLE>
</body>
</html>